.FilesContainerControls
	height 78px
	display flex
	justify-content space-between
	align-items center
	&-add
		svg
			transform rotate(90deg)
	&-btn
		cursor pointer
		path
			transition 0.1s
		&:hover
			path
				fill #000