@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* 
  margin 0
  padding 0
  font-family 'Montserrat'
  font-weight 500
  box-sizing border-box
  outline none
body
  overflow hidden